In [30]:
import pandas as pd
import numpy as np
import plotly.express as px

In [31]:
df = pd.read_csv(r'/Users/arij/Desktop/PROJECT/Projectdataset.csv',encoding='unicode_escape')

In [32]:
print('kk')

kk

In [33]:
for col in df.columns:
    print(col,df[col].isna().sum())

InvoiceNo 0
StockCode 0
Description 1454
Quantity 0
InvoiceDate 0
UnitPrice 0
CustomerID 135080
Country 0

In [34]:
df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France

In [35]:
df.columns

Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country'],
      dtype='object')

In [36]:
df.InvoiceDate

0          12/1/2010 8:26
1          12/1/2010 8:26
2          12/1/2010 8:26
3          12/1/2010 8:26
4          12/1/2010 8:26
               ...
541904    12/9/2011 12:50
541905    12/9/2011 12:50
541906    12/9/2011 12:50
541907    12/9/2011 12:50
541908    12/9/2011 12:50
Name: InvoiceDate, Length: 541909, dtype: object

In [37]:
df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'])

# Extract date features
df['year'] = df['InvoiceDate'].dt.year
df['month'] = df['InvoiceDate'].dt.month
df['day'] = df['InvoiceDate'].dt.day
df['hour'] = df['InvoiceDate'].dt.hour
df['minute'] = df['InvoiceDate'].dt.minute
df['day_of_week'] = df['InvoiceDate'].dt.dayofweek  # Monday=0, Sunday=6

In [38]:
df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,year,month,day,hour,minute,day_of_week
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,2010,12,1,8,26,2
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,2010,12,1,8,26,2
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,2010,12,1,8,26,2
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,2010,12,1,8,26,2
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,2010,12,1,8,26,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680.0,France,2011,12,9,12,50,4
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France,2011,12,9,12,50,4
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France,2011,12,9,12,50,4
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France,2011,12,9,12,50,4
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France,2011,12,9,12,50,4

In [39]:
print("Min Date", df["InvoiceDate"].min(), "Max Date", df["InvoiceDate"].max())

Min Date 2010-12-01 08:26:00 Max Date 2011-12-09 12:50:00

In [40]:
df.columns

Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country', 'year', 'month', 'day', 'hour',
       'minute', 'day_of_week'],
      dtype='object')

In [43]:
df.groupby(['CustomerID','Country'])['Quantity','TotalPrice'].sum().sort_values(by='Quantity', ascending=False)

ValueError: Cannot subset columns with a tuple with more than one element. Use a list instead.

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
grouped_data = df.groupby(['CustomerID', 'Country'])['Quantity', 'TotalPrice'].sum().reset_index()

# Sorting by Quantity in descending order
sorted_data = grouped_data.sort_values(by='Quantity', ascending=False)

# Selecting top 10 combinations of CustomerID and Country by Quantity
top_10 = sorted_data.head(10)

# Create a list of colors for the bars
num_bars = len(top_10)
colors = plt.cm.viridis(np.linspace(0, 1, num_bars))

# Creating a bar plot for the top 10 combinations
plt.figure(figsize=(10, 6))
bars = plt.bar(np.arange(num_bars), top_10['Quantity'], color=colors)

# Displaying the quantity values on top of the bars
for bar, val in zip(bars, top_10['Quantity']):
    plt.text(bar.get_x() + bar.get_width() / 2, bar.get_height() + 0.5, val,
             ha='center', va='bottom', fontsize=8)

plt.xlabel('CustomerID - Country')
plt.ylabel('Total Quantity Sold')
plt.title('Top 10 CustomerID-Country Combinations by Quantity Sold')
plt.xticks(np.arange(num_bars), top_10['CustomerID'].astype(str) + ' - ' + top_10['Country'], rotation=45, ha='right')
plt.tight_layout()
plt.show()

In [ ]:
df.Country.value_counts()

In [ ]:
import matplotlib.pyplot as plt

# Assuming df is your DataFrame
country_counts = df['Country'].value_counts()

# Plotting the country counts
plt.figure(figsize=(10, 6))
country_counts.plot(kind='bar')
plt.title('Counts of Entries by Country')
plt.xlabel('Country')
plt.ylabel('Count')
plt.xticks(rotation=45)
plt.tight_layout()
plt.show()

In [ ]:
import seaborn as sns

plt.figure(figsize=(10, 6))
sns.countplot(data=df, x='Country', order=df['Country'].value_counts().index)
plt.title('Counts of Entries by Country')
plt.xlabel('Country')
plt.ylabel('Count')
plt.xticks(rotation=45)
plt.tight_layout()
plt.show()

In [ ]:
import matplotlib.pyplot as plt
import pandas as pd

# Assuming df is your DataFrame
top_countries = df['Country'].value_counts().nlargest(10)  # Get top 10 countries

# Replace countries not in top 10 with 'Other'
df['Country'] = df['Country'].apply(lambda x: x if x in top_countries else 'Other')

# Plotting the top countries and 'Other'
plt.figure(figsize=(10, 6))
df['Country'].value_counts().plot(kind='bar')
plt.title('Top Countries (Others grouped)')
plt.xlabel('Country')
plt.ylabel('Count')
plt.xticks(rotation=45)
plt.tight_layout()
plt.show()

In [ ]:
import seaborn as sns

# Assuming df is your DataFrame
top_countries = df['Country'].value_counts().nlargest(10)  # Get top 10 countries

# Replace countries not in top 10 with 'Other'
df['Country'] = df['Country'].apply(lambda x: x if x in top_countries else 'Other')

# Plotting the top countries and 'Other' using Seaborn countplot
plt.figure(figsize=(10, 6))
ax = sns.countplot(data=df, x='Country', order=df['Country'].value_counts().index)
plt.title('Top Countries (Others grouped)')
plt.xlabel('Country')
plt.ylabel('Count')
plt.xticks(rotation=45)
plt.tight_layout()

# Display counts on top of bars
for p in ax.patches:
    ax.annotate(format(p.get_height(), '.0f'), 
                (p.get_x() + p.get_width() / 2., p.get_height()), 
                ha = 'center', va = 'center', 
                xytext = (0, 10), 
                textcoords = 'offset points')

plt.show()

In [ ]:
import matplotlib.pyplot as plt

plt.figure(figsize=(8, 8))
df['Country'].value_counts().plot(kind='pie', autopct='%1.1f%%')
plt.title('Country Distribution')
plt.ylabel('')
plt.show()

In [ ]:


plt.figure(figsize=(10, 6))
df.set_index('InvoiceDate').resample('D').size().plot()  # Resample daily and plot
plt.title('Timeline of Entries Over Time')
plt.xlabel('Date')
plt.ylabel('Count')
plt.tight_layout()
plt.show()

In [ ]:
df.columns

In [ ]:
monthly_quantity = df.groupby(pd.Grouper(key='InvoiceDate', freq='M'))['Quantity'].sum()

# Plotting the data
plt.figure(figsize=(10, 6))
monthly_quantity.plot()

# Adding annotations for each month's value
for i, value in enumerate(monthly_quantity):
    plt.text(monthly_quantity.index[i], value, str(value), ha='center', va='bottom')

plt.xlabel('Invoice Date')
plt.ylabel('Total Quantity')
plt.title('Total Quantity per Month')
plt.tight_layout()
plt.show()

In [ ]:
df.columns

In [ ]:
monthly_quantity = df.groupby(pd.Grouper(key='InvoiceDate', freq='M'))['TotalPrice'].sum()

# Plotting the data
plt.figure(figsize=(10, 6))
monthly_quantity.plot()

# Adding annotations for each month's value
for i, value in enumerate(monthly_quantity):
    plt.text(monthly_quantity.index[i], value, str(value), ha='center', va='bottom')

plt.xlabel('Invoice Date')
plt.ylabel('Total Price')
plt.title('Total Price per Month')
plt.tight_layout()
plt.show()

In [ ]:
date_corr = df[['year', 'month', 'day']].corr()

plt.figure(figsize=(8, 6))
sns.heatmap(date_corr, annot=True, cmap='coolwarm', fmt='.2f')
plt.title('Correlation Between Date Components')
plt.show()

In [ ]:
df.columns

In [ ]:
plt.figure(figsize=(10, 6))
sns.boxplot(data=df, x='month', y='Quantity')
plt.title('Distribution by Month')
plt.xlabel('Month')
plt.ylabel('Value')
plt.show()

In [ ]:
df.columns

In [ ]:
df['TotalPrice'] = df['Quantity'] * df['UnitPrice']

In [ ]:
import datetime as dt

In [ ]:
today_date = dt.datetime(2011,12,31)

df_rfm = df.groupby("CustomerID").agg({"InvoiceDate" : lambda InvoiceDate: (today_date - InvoiceDate.max()).days, # Recency
                                "InvoiceNo" : lambda InvoiceNo : InvoiceNo.nunique(), # Frequency
                                "TotalPrice" : lambda TotalPrice: TotalPrice.sum()})  # Monetary
df_rfm.columns = ["Recency", "Frequency", "Monetary"]

In [ ]:
df_rfm['recency_score'] = pd.qcut(df_rfm['Recency'], 5, labels=[5, 4, 3, 2, 1])
df_rfm['frequency_score'] = pd.qcut(df_rfm['Frequency'].rank(method='first'), 5, labels=[1, 2, 3, 4, 5])
df_rfm['monetary_score'] = pd.qcut(df_rfm['Monetary'], 5, labels=[1, 2, 3, 4, 5])

df_rfm['RF_SCORE'] = (df_rfm['recency_score'].astype(str) +
                      df_rfm['frequency_score'].astype(str))
df_rfm.head()

In [ ]:
df['RF_score']=df_rfm['RF_SCORE']

In [ ]:
df['frequency']=df_rfm['Frequency']

In [ ]:
seg_map = {
    r'[1-2]{2}': 'hibernating',
    r'[1-2][3-4]': 'at_Risk',
    r'[1-2]5': 'cant_loose',
    r'3[1-2]': 'about_to_sleep',
    r'33': 'need_attention',
    r'[3-4][4-5]': 'loyal_customers',
    r'41': 'promising',
    r'51': 'new_customers',
    r'[4-5][2-3]': 'potential_loyalists',
    r'5[4-5]': 'champions'
}

In [ ]:
df_rfm['segment'] = df_rfm['RF_SCORE'].replace(seg_map, regex=True)

In [ ]:
df[df['CustomerID']==12346.0]

In [ ]:
df_rfm['segment'].value_counts()

In [ ]:
import seaborn as sns

In [ ]:
for i in sns.color_palette('tab10', len(df_rfm['segment'].value_counts())):
    print(i)

In [ ]:
df_rfm.head()

In [ ]:
segment_counts = df_rfm['segment'].value_counts()

# Define colors for segments
colors = {
    'hibernating': 'red', 'loyal_customers': 'green', 'champions': 'blue',
    'at_Risk': 'orange', 'potential_loyalists': 'purple',
    'about_to_sleep': 'cyan', 'need_attention': 'magenta',
    'promising': 'yellow', 'cant_loose': 'brown', 'new_customers': 'gray'
}

# Plotting the bar plot
plt.figure(figsize=(8, 6))
segment_counts.plot(kind='bar', color=[colors.get(x, 'black') for x in segment_counts.index])

plt.xlabel('Segments')
plt.ylabel('Count')
plt.title('Count of Customers in Each Segment')
plt.xticks(rotation=45)
plt.show()

In [ ]:
stats = df_rfm['segment']
fig = px.bar(y=stats.values, 
             x=stats.index,  
             text_auto=True,
             color = stats.index,
             title= 'RFM',
            template= 'ggplot2' )

fig.show()

In [ ]:
from sklearn.preprocessing import OrdinalEncoder

# Assuming df is your DataFrame with a 'Country' column
encoder = OrdinalEncoder()

# Reshape the column because the OrdinalEncoder expects a 2D array
encoded_country = encoder.fit_transform(df['Country'].values.reshape(-1, 1))

# Replace the original 'Country' column with the encoded values
df['Country_Encoded'] = encoded_country

In [ ]:
df.columns

In [ ]:
df.columns

In [ ]:
features=['Quantity','UnitPrice','year','month','day','hour','minute','day_of_week','Country_Encoded','RF_score','RF_score']

In [ ]:
df[features]

In [ ]:
from sklearn.cluster import KMeans
from sklearn.cluster import DBSCAN

In [ ]:
X.d

In [ ]:
X = df[features]
X.dropna(inplace=True)
# Initialize and fit K-means
kmeans = KMeans(n_clusters=4, random_state=42)  # Specify the number of clusters
kmeans.fit(X)

# Add predicted clusters to DataFrame
X['KMeans_Cluster'] = kmeans.labels_

In [ ]:
X['KMeans_Cluster'].value_counts()

In [ ]:
from sklearn.preprocessing import StandardScaler

In [ ]:
numeric_columns = X.columns.tolist()

scaler = StandardScaler()
X[numeric_columns] = scaler.fit_transform(X[numeric_columns])

In [ ]:
kmeans = KMeans(n_clusters=3, random_state=42)  # Specify the number of clusters
kmeans.fit(X)

# Add predicted clusters to DataFrame
X['KMeans_Cluster'] = kmeans.labels_

In [ ]:
X.KMeans_Cluster.value_counts()

In [ ]:
from sklearn.datasets import make_blobs
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score
from sklearn.decomposition import PCA
from mpl_toolkits.mplot3d import Axes3D
SSE = []
for cluster in range(1,10):
    kmeans = KMeans(n_clusters = cluster, init='k-means++',n_init="auto")
    kmeans.fit(X)
    SSE.append(kmeans.inertia_)
# converting the results into a dataframe and plotting them
frame = pd.DataFrame({'Cluster':range(1,10), 'SSE':SSE})
plt.figure(figsize=(12,6))
plt.plot(frame['Cluster'], frame['SSE'], marker='o')
plt.xlabel('Number of clusters')
plt.ylabel('Inertia')

In [ ]:
kmeans = KMeans( n_clusters = 3, init='k-means++',n_init="auto")
kmeans.fit(X)

In [ ]:
print(silhouette_score(X, kmeans.labels_, metric='euclidean'))

In [ ]:
pred = kmeans.predict(X)
rfm_cluster = X.copy()
rfm_cluster['cluster'] = pred

In [ ]:
rfm_cluster

In [ ]:
X.KMeans_Cluster.value_counts()

In [ ]:
X.head()

In [ ]:
columns_to_denormalize = X.columns[:-1]

In [ ]:
means = X[columns_to_denormalize].mean()

In [ ]:
std_devs = X[columns_to_denormalize].std()

In [ ]:
means

In [ ]:
X.drop(columns=['RF_score'],inplace=True)

In [ ]:
# Columns to be denormalized
columns_to_denormalize = X.columns[:-1]  # Excluding the last column assuming it's 'KMeans_Cluster'

# Mean and standard deviation of each column
means = X[columns_to_denormalize].mean()
std_devs = X[columns_to_denormalize].std()

# Inverse the normalization
X[columns_to_denormalize] = X[columns_to_denormalize] * std_devs + means

In [ ]:
columns_to_denormalize = X.columns[:-1]  # Excluding the last column assuming it's 'KMeans_Cluster'

# Create a new DataFrame with the denormalized values
df_denormalized = pd.DataFrame()

# Denormalize each column and add to the new DataFrame
for col in columns_to_denormalize:
    df_denormalized[col] = X[col] * std_devs[col] + means[col]

# Add the 'KMeans_Cluster' column to the new DataFrame
df_denormalized['KMeans_Cluster'] = X['KMeans_Cluster']

# Display the new denormalized DataFrame
print(df_denormalized)

In [ ]:
df_denormalized

In [ ]:
sns.scatterplot(data=X, x="Country_Encoded", y="month",hue='KMeans_Cluster')

In [ ]:
X = df[features]

# Initialize and fit DBSCAN
dbscan = DBSCAN(eps=0.5, min_samples=10)  # Set the parameters as per your data
dbscan.fit(X)

# Add predicted clusters to DataFrame
df['DBSCAN_Cluster'] = dbscan.labels_

In [ ]:
print('l')

In [ ]:
import seaborn as sns

# Assuming df is your DataFrame with the mentioned features and KMeans_Cluster column
features = ['day_of_week', 'Country_Encoded']

# Select features for clustering
X = df[features]

# Initialize and fit K-means
kmeans = KMeans(n_clusters=3, random_state=42)  # Specify the number of clusters
kmeans.fit(X)

# Add predicted clusters to DataFrame
df['KMeans_Cluster'] = kmeans.labels_

# Create pair plot to visualize clusters
sns.pairplot(df, vars=features, hue='KMeans_Cluster', palette='viridis')
plt.show()

In [ ]:
import seaborn as sns

# Assuming df is your DataFrame with the mentioned features and KMeans_Cluster column
features = ['day_of_week', 'Country_Encoded']

# Select features for clustering
X = df[features]

# Initialize and fit K-means
kmeans = KMeans(n_clusters=3, random_state=42)  # Specify the number of clusters
kmeans.fit(X)

# Add predicted clusters to DataFrame
df['KMeans_Cluster'] = kmeans.labels_

# Create pair plot to visualize clusters
sns.pairplot(df, vars=features, hue='KMeans_Cluster', palette='viridis')
plt.show()

In [ ]:
X.columns

In [ ]:
list1 = ['day_of_week', 'Country_Encoded']

In [ ]:
avg_df = df.groupby(['KMeans_Cluster'], as_index=False).mean()
for i in list1:
    sns.barplot(x='KMeans_Cluster',y=str(i),data=avg_df)
    plt.show()

In [ ]:
df.Country_Encoded.value_counts()

In [ ]:
df.Country.value_counts()

In [ ]:
plt.figure(figsize=(8, 6))
sns.scatterplot(x='day_of_week', y='Country', hue='KMeans_Cluster', data=df, palette='viridis')
plt.title('Clusters based on day_of_week and Country_Encoded')
plt.xlabel('day_of_week')
plt.ylabel('Country_Encoded')
plt.show()

In [ ]:
df[features]

In [ ]:
features=['Country_Encoded','day_of_week']

In [ ]:
df.columns

In [ ]:
X = df[['Country_Encoded','day_of_week']] # Exclude the last column assumed to be the cluster label

In [ ]:
X

In [ ]:
model = AgglomerativeClustering(n_clusters=3, affinity='euclidean', linkage='ward')
cluster_labels = model.fit_predict(X)

# Adding the cluster labels to the DataFrame
X['Hierarchical_Cluster'] = cluster_labels

# Plot dendrogram
# Create a linkage matrix and plot dendrogram
from scipy.cluster import hierarchy

linkage_matrix = hierarchy.linkage(features, method='ward')
plt.figure(figsize=(12, 6))
dendrogram(linkage_matrix)
plt.title('Dendrogram')
plt.xlabel('Samples')
plt.ylabel('Distance')
plt.show()

# Display the DataFrame with the hierarchical cluster labels
print(df)

In [ ]:
from sklearn.cluster import AgglomerativeClustering
from scipy.cluster.hierarchy import dendrogram
import matplotlib.pyplot as plt
import pandas as pd

# Assuming df contains the data for clustering
# Extracting the features for clustering

# Perform hierarchical clustering
model = AgglomerativeClustering(n_clusters=3, affinity='euclidean', linkage='ward')
cluster_labels = model.fit_predict(features)

# Adding the cluster labels to the DataFrame
df['Hierarchical_Cluster'] = cluster_labels

# Plot dendrogram
# Create a linkage matrix and plot dendrogram
from scipy.cluster import hierarchy

linkage_matrix = hierarchy.linkage(features, method='ward')
plt.figure(figsize=(12, 6))
dendrogram(linkage_matrix)
plt.title('Dendrogram')
plt.xlabel('Samples')
plt.ylabel('Distance')
plt.show()

# Display the DataFrame with the hierarchical cluster labels
print(df)